// Spacing
$space-1: .25rem;
$space-2: .5rem;
$space-3: 1rem;
$space-4: 2rem;
$space-5: 4rem;
$space-6: 8rem;

// Type-scale
$h1: 3.425rem;
$h2: 2.675rem;
$h3: 1.2rem;
$h4: 1.25rem;
$h5: .875rem;
$h6: .75rem;

// Typography
$sans-font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$letter-spacing: 1;
$caps-letter-spacing: .2em;
$bold-font-weight: bold;

$border-radius: 8px;

$easing : cubic-bezier(1, 0, 0, 1);

// Colors
$paragraph-color: palette(black, light);

//Colors
$white    : #fff;
$black    : #1F1F24;
$grey     : #C0C8CA;
$red      : #FF8888;
$green    : #77C5AB;
$purple   : #9188FF;
$yellow   : #FFC349;

$palettes: (
	grey: (
		xx-light : lighten($grey, 20%),
		x-light  : lighten($grey, 16%),
		light    : lighten($grey, 10%),
		base     : $grey,
		dark     : darken($grey, 8%),
		x-dark   : darken($grey, 30%),
		xx-dark   : darken($grey, 45%)
	),

	black: (
		xx-light  : lighten($black, 10%),
		x-light  : lighten($black, 5%),
		light    : lighten($black, 1%),
		base     : $black,
		dark     : darken($black, 2%),
		x-dark     : darken($black, 5%)
	)
);

// Darken
$darken-1: rgba(0, 0, 0, .0625);
$darken-2: rgba(0, 0, 0, .125);
$darken-3: rgba(0, 0, 0, .25);


// Widths
$width-1: 24rem;
$width-2: 32rem;
$width-3: 48rem;
$width-4: 64rem;

// Container
$container-max-width: 1600px;

// Breakpoints

//Small Tablets (portrait)
$breakpoint-sm: 40em;
//Tablet (Landscape)
$breakpoint-md: 70em;
//Laptop and up
$breakpoint-lg: 80em;

// Z-index
$z1: 1;
$z2: 2;
$z3: 3;
$z4: 4;

